<main>
  <div class="select-models-page mt-50px">
    <ng-container *ngIf="!switchComponent">
      <h1 class="select-models-page-content-title font-weight-bold title-fixed">
        <button mat-icon-button color="base" (click)="onBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        {{assetType}} Type
      </h1>
      <div class="select-models-page-content mt-50px">
        <div class="select-models-page-content-assets-wrapper">
          <div class="asset-container" *ngFor="let asset of assets">
            <ng-container *ngTemplateOutlet="assetCard; context: {src:asset}"></ng-container>
          </div>
          <div *ngIf="permission.isCreate" class="asset-container">
            <div class="add-icon" (click)="onAddNewModel()">
              <mat-icon>add</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="switchComponent">
      <app-asset-new-model [params]="routeParams" (goBackEvent)="onGoBackEvent($event)"></app-asset-new-model>
    </ng-container>
  </div>
  <ng-template #assetCard let-asset="src">
    <div class="asset-item-wrapper">
      <span class="asset-item-title">
        {{asset.name}}
      </span>
      <div class="asset-item-content">
        <div class="asset-item-content-total">
          <div class="icon" (click)="onCreateModel(asset)">
            <img *ngIf="asset.icon_url" [src]="asset.icon_url.startsWith('uploads') ?  apiEndpoint + '/' + asset.icon_url : asset.icon_url" />
            <img *ngIf="!asset.icon_url" [src]="'/assets/Icons/Projects_section/topbar/assets_icon.svg'" />
          </div>
          <div class="text">
            <span class="text-value">
              {{asset.total}}
            </span>
            <span class="text-label">
              Total
            </span>
          </div>
        </div>
        <div class="asset-item-content-others">
          <div class="asset-item-content-value">
            <div class="text">
              <span class="text-label">Installed</span>
              <span class="text-value">{{asset.installed}}</span>
            </div>
          </div>
          <div class="asset-item-content-value">
            <div class="text">
                <span class="text-label">Available</span>
                <span class="text-value">{{asset.available}}</span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </ng-template>
</main>