<div class="page-wrap height-100">
  <div class="d-flex flex-column reset-form-container">
    <form (submit)="onSendResetEmail()">
      <p class="title m-0">Reset Your Password</p>
      <hr class="m-0">
      <div class="w-350p m-auto">
        <div class="form-group mb-4 mt-5">
          <label for="email">Please enter your email to send a reset email</label>
          <input type="search"
                 class="form-control"
                 [(ngModel)]="email"
                 id="email"
                 name="email"
                 autocomplete="off"
                 placeholder="Email"/>
        </div>
      </div>
      <div class="w-350p m-auto" *ngIf="emailResponse && emailResponse.success">
        <p class="text-success">{{ emailResponse.message }}</p>
      </div>
      <div>
        <input
          type="button"
          mat-stroked-button color="primary"
          class="btn btn-light cancelBtn pull-right"
          (click)="gotoLogin()"
          [value]="cancelLabel"/>
        <input
          type="submit"
          mat-flat-button color="primary"
          class="btn btn-primary sendBtn pull-right mr-2"
          [value]="sendLabel"/>
      </div>
    </form>
  </div>
</div>