<h1 mat-dialog-title>
  {{data?.title}}
</h1>
<div mat-dialog-content>
  <p [innerHTML]="data?.message"></p>
  <p [innerHTML]="data?.question"></p>
</div>
<div class="button-wrapper">
  <button mat-stroked-button color="primary" [mat-dialog-close]>
    {{data.btnStay}}
  </button>
</div>
<div class="button-wrapper">
  <button mat-flat-button color="primary" [mat-dialog-close]="'leave'">
    {{data.btnLeave}}
  </button>
</div>
<div class="button-wrapper">
  <button mat-flat-button color="primary" [mat-dialog-close]="'new-tab'">
    {{data.btnNewTab}}
  </button>
</div>
