<div class="chart-outer-wrapper">
  <div class="chart-inner-wrapper">
    <div>
      <div>{{title}}</div>
      <div>
        <button mat-icon-button type="button">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
      </div>
    </div>
    <div class="chart-content">
      <canvas
        *ngIf="chartDataSets.length > 0; else noData"
        baseChart
        [datasets]="chartDataSets"
        [chartType]="chartType"
        [options]="chartOptions"
        [colors]="chartColors"
      >
      </canvas>
      <ng-template #noData>
        <p>
          No Data
        </p>
      </ng-template>
    </div>
  </div>
</div>
