:host {
  .button-wrapper {
    text-align: center;

    button:first-child {
      margin-right: 1rem;
    }
  }

  .altered {
    border: 1px solid teal;
    background-color: rgb(45, 64, 75);
    color: whitesmoke;
  }
}
