<div class="zone">
  <ng-container *ngIf="isListViewOn">
    <app-listview-new
      [filter]="filter"
      [projectId]="projectId"
      [options]="mapOptions"
      [mapdata]="mapdata"
      [mapdrawdata]="mapdrawdata"
      [listType]="'onStreetZone'"
      [listData]="allZones"
      (updateMapData)="onUpdateMapData($event)"
      (selectedRowItem)="onMapEditedEvent($event)"
      [ngClass]="{'width-calc': projectZone?.id}"
    ></app-listview-new>
  </ng-container>
  <ng-container *ngIf="!isListViewOn || projectZone?.id">
    <div *ngIf="valid_code" class="zone-sidebar" [ngClass]="{'right-sidebar': isListViewOn}">
      <ng-container *ngIf="isListViewOn && projectZone?.id">
        <app-mapview-new
          [mapCenter]="mapPositionCenter"
          [options]="mapOptions"
          [mapDataJSON]="mapdata"
          [mapDrawDataJSON]="mapdrawdata"
          [zoomValue]="14"
          (mapDataChangedEmitter)="onSiteMapDataChanged($event)"
          (mapDataEditEmitter)="onMapEditedEvent($event)"
        >
        </app-mapview-new>
      </ng-container>
      <div class="zone-sidebar-title">
        {{projectZone?.id ? 'Zone selection' : 'Draw new zone'}}
      </div>

      <form *ngIf="form"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            autocomplete="off"
            novalidate>
        <div class="form-field">
          <span>Name :</span>
          <mat-form-field class="zone-id">
            <input matInput type="text" formControlName="zone_name">
            <mat-error>Name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <span>Name (ar):</span>
          <mat-form-field class="zone-id">
            <input matInput type="text" formControlName="zone_name_ar">
            <mat-error>Name (ar) is required</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <span>Zone Code :</span>
          <mat-form-field class="zone-id">
            <input matInput type="text" formControlName="zone_code" (keypress)="inputCheck($event)" (paste)="inputCheck($event)">
            <mat-error>Zone Code is required. This field accepts only alphabetical and numerical characters.</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <span>Perimeter <b class="span-bold">(auto-fill by draw tool)</b></span>
          <mat-form-field class="place_LL border-right-0">
            <input matInput type="text" formControlName="perimeter" readonly>
            <mat-error>Perimeter is required</mat-error>
          </mat-form-field>
          <mat-form-field class="units line-height-15 place_LL border-left-0">
            <mat-select formControlName="measurement_unit" (selectionChange)="onChangeUnit($event.value)">
              <mat-option *ngFor="let item of perimeter_units" [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <span>Area <b class="span-bold">(auto-fill by draw tool)</b></span>
          <mat-form-field class="place_LL border-right-0">
            <input matInput type="text" formControlName="area" readonly>
            <mat-error>Area is required</mat-error>
          </mat-form-field>
          <mat-form-field class="units place_LL border-left-0">
            <input matInput type="text" formControlName="area_units" readonly>
          </mat-form-field>
        </div>
        <div class="buttons-wrapper mt-4">
          <button mat-stroked-button type="button" class="mr-2 ml-2" (click)="onCancel()">CANCEL</button>
          <button class="add" mat-flat-button type="submit" color="primary">{{projectZone?.id ? 'UPDATE' : 'CREATE'}}</button>
        </div>
        <div class="buttons-wrapper" *ngIf="projectZone?.id">
          <span (click)="onDelete(projectZone)">DELETE  <mat-icon>delete</mat-icon></span>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-container *ngIf="!isListViewOn">
    <div *ngIf="valid_code" class="zone-map-wrapper">
      <app-mapview-new
        [mapCenter]="mapCenter"
        [options]="mapOptions"
        [mapDataJSON]="mapdata"
        [mapDrawDataJSON]="mapdrawdata"
        (mapDataChangedEmitter)="onSiteMapDataChanged($event)"
        (mapDataEditEmitter)="onMapEditedEvent($event)"
      >
      </app-mapview-new>
    </div>
    <div *ngIf="!valid_code" class="text-center p-5">
      There is no city for this project , Please click
      <span (click)="projectRedirect()" class="link">
          here
        </span>
      set it up
    </div>
  </ng-container>
</div>
