<button class="mr-4 mb-2 btn-primary mat-raised-button float-right" (click)="editColumns()">Customize Columns</button>
<div class="table-wrapper">
  <ngx-datatable class="material bg-white"
     style="height: 350px"
     [columnMode]="'force'"
     [headerHeight]="50"
     [footerHeight]="50"
     [rowHeight]="70"
     [limit]="10"
     [rows]="dataSource"
     scrollbarV="true"
     (reorder)="reorderColumns($event)">
    <ngx-datatable-column *ngFor="let field of showFields" name="{{field.label}}" prop="{{field.name}}">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span [matTooltip]="row[field.name]" matTooltipShowDelay="1000" matTooltipHideDelay="1000">
          <ng-container [ngSwitch]="field.name">
            <ng-container *ngSwitchCase="'application_hours'"> {{row.time_start| timeFormat}} - {{row.time_end| timeFormat}}</ng-container>
            <ng-container *ngSwitchCase="'date_start'">{{ row[field.name] | date: 'dd/MM/yy' }}</ng-container>
            <ng-container *ngSwitchCase="'date_end'">{{ row[field.name] | date: 'dd/MM/yy' }}</ng-container>
            <ng-container *ngSwitchCase="'action'">
              <button mat-icon-button	(click)="onEdit(row); $event.stopPropagation()"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button	(click)="onCopy(row); $event.stopPropagation()"><mat-icon>file_copy</mat-icon></button>
              <button mat-icon-button	(click)="onDelete(row); $event.stopPropagation()"><mat-icon>delete</mat-icon></button>
            </ng-container>
            <ng-container *ngSwitchDefault>{{ row[field.name] }}</ng-container>
          </ng-container>
        </span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
