<main *ngIf="employee"  class="employee-details-page">
  <!-- ------------------- Greybar ------------------------ -->
  <header class="page-top-header">
    <div class="credential-header-buttons">
      <button mat-icon-button color="base" (click)="onCancel()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span> Admin >  User Credentials > {{employee.firstname}} {{employee.lastname}}</span>
    </div>
    <div class="today">
      <span>Local Date/Time: </span>{{ today | date:'dd/MM/yyyy hh:mm a' }}
    </div>
  </header>
  <!-- ------------------------------------------- -->
  <h1 class="title font-weight-bold title-fixed">
    User Credentials
  </h1>
  <form [formGroup]="employeeEditForm">
    <div class="employee-details-page-content mt-50px pr-3 pl-3">
      <div class="d-flex">
        <div class="col-lg-2 col-md-2 col-sm-12">
          <img *ngIf="!employee.img_url" src="assets/noavatar.png">
          <img *ngIf="employee.img_url" [src]= "baseUrl + employee.img_url">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="employee-details-info-row">
            <span class="info">First Name:</span>
            <span class="detail">{{employee.firstname}}</span>
          </div>
          <div class="employee-details-info-row">
            <span class="info">Last Name:</span>
            <span class="detail">{{employee.lastname}}</span>
          </div>
          <div class="employee-details-info-row">
            <span class="info">Username:</span>
            <span class="detail">{{employee.username}}</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="employee-details-info-row">
            <span class="info">Gender:</span>
            <span class="detail">{{employee.sex ? 'Male' : 'Female'}}</span>
          </div>
          <div class="employee-details-info-row">
            <span class="info">Birth Date:</span>
            <span class="detail">{{employee.day_of_birth | date:'dd/MM/yyyy'}}</span>
          </div>
          <div class="employee-details-info-row">
            <span class="info">Address:</span>
            <span class="detail">{{employee.address}}</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <div class="employee-details-info-row">
            <span class="info">Password:</span>
            <mat-form-field>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                required
                placeholder="Password"
              />
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error>Password is required</mat-error>
            </mat-form-field>
          </div>
          <div class="employee-details-info-row">
            <span class="info">Re-type Password:</span>
            <mat-form-field>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="confirm_password"
                required
                placeholder="Password"
              />
              <mat-error>Retype Password is required</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-3 col-md-3 col-sm-12">
          <div class="employee-details-info-row">
            <span class="info">Mobile #:</span>
            <span class="detail">{{employee?.phone_number}}</span>
          </div>
          <div class="employee-details-info-row">
            <span class="info">Landline #:</span>
            <span class="detail">{{employee?.landline}}</span>
          </div>
          <div class="employee-details-info-row">
            <span class="info">Email:</span>
            <span class="detail">{{employee?.email}}</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="employee-details-info-row">
            <span class="info">Employee ID:</span>
            <span class="detail">{{employee?.employee_id}}</span>
          </div>
          <div class="employee-details-info-row">
            <span class="info">Department:</span>
            <span class="detail">{{employee?.department}}</span>
          </div>
          <div class="employee-details-info-row">
            <span class="info">Position:</span>
            <span class="detail">{{employee?.job_position}}</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <div class="employee-details-info-row">
            <span class="info">Start Date:</span>
            <span class="detail">{{employee?.date_start | date:'dd/MM/yyyy'}}</span>
          </div>
          <div class="employee-details-info-row">
            <span class="info">End Date:</span>
            <span class="detail">{{employee?.date_end | date:'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <hr />
      <div class="float-right p-4 button-section">
        <button mat-stroked-button color="primary" type="button" (click)="onCancel()" class="mr-3">CANCEL</button>
        <button *ngIf="canUpdate" mat-flat-button color="primary" type="submit" (click)="onUpdate()">UPDATE</button>
      </div>
    </div>
  </form>
</main>