<div class="exception-new">
  <div class="exception-new-content">
    <div class="exception-new-content-name">
      <span>Name <sup>*</sup> :</span>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="exception.exception_name" [disabled]="!canUpdate" required>
      </mat-form-field>
      <div class="divider"></div>
      <button *ngIf="canUpdate" mat-icon-button color="warn" (click)="onClose()">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
    <div class="exception-new-content-settings">
      <div class="exception-new-content-add-wrapper pr-2">
        <span>Exception: </span>
        <mat-form-field>
          <input type="time" atp-time-picker matInput placeholder="Start time" [(ngModel)]="start_time"
                 [disabled]="!canUpdate">
        </mat-form-field>
        <mat-form-field>
          <input type="time" atp-time-picker matInput placeholder="End time" [(ngModel)]="end_time"
                 [disabled]="!canUpdate">
        </mat-form-field>
        <button
          *ngIf="canUpdate"
          mat-stroked-button
          color="primary"
          class="mr-2 ml-2"
          (click)="onClearTimeSlot()">
          Clear
        </button>
        <button
          *ngIf="canUpdate"
          class="full"
          mat-flat-button
          color="primary"
          class="mr-2"
          (click)="onAddTimeSlot()">
          Add
        </button>
      </div>
      <div class="exception-new-content-applydate-wrapper">
        Apply to <sup>*</sup> :
        <p-calendar
          appInputDateFormat
          *ngIf="canUpdate"
          [(ngModel)]="appliedDates"
          selectionMode="multiple"
          showIcon="true"
          (ngModelChange)="changeAppliedDate($event)"
          [minDate]="minDate"
        >
        </p-calendar>
        <mat-checkbox [(ngModel)]="exception.is_holiday" [disabled]="!canUpdate">
          Holidays
        </mat-checkbox>
      </div>
    </div>
    <div class="exception-new-content-timeline-wrapper">
      <app-timeline-view [timeslots]="slots" [color]="color"></app-timeline-view>
    </div>
  </div>
</div>