@import "../../../../styles/_color.scss";

.button-days {
  background-color: #105498;
  color: #e5e5e5;
  margin: 4px;
  border-radius: 5px;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.button-days-text {
  margin: 0 auto;
}