<div mat-dialog-title>
  <h2>List of Projects</h2>
  <button mat-icon-button (click)="onCancel()"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content>
  <div class="project-list-page">
    <div class="project-list-page-header" fxLayoutAlign="space-around center" fxLayout="row">
      <div class="project-list-page-header-filter">
        <mat-form-field class="project-filter">
          <mat-icon>search</mat-icon>
          <input matInput  (keyup)="applyFilterProjects($event.target.value)" placeholder="Search Projects">
        </mat-form-field>
      </div>
      <button class="mr-2 btn-primary mat-raised-button" (click)="editColumns()">Customize Columns</button>
    </div>
    <div class="project-list-page-content">
      <div class="project-list-page-table-wrapper">
        <ngx-datatable class="material bg-white"
           style="height: 70vh"
           [columnMode]="'force'"
           [headerHeight]="50"
           [footerHeight]="50"
           [rowHeight]="50"
           [limit]="10"
           [rows]="projects"
           scrollbarV="true"
           (activate)="onSelect($event)"
           (reorder)="reorderColumns($event)">
          <ngx-datatable-column *ngFor="let field of tableFields" name="{{field.label}}" prop="{{field.name}}">
            <ng-template let-row="row" ngx-datatable-cell-template>
            <span [matTooltip]="row[field.name]" matTooltipShowDelay="1000" matTooltipHideDelay="1000">
              <ng-container [ngSwitch]="field.name">
                <ng-container *ngSwitchCase="'start_date'">
                  {{ row[field.name] | date:'dd/MM/yyyy' }}
                </ng-container>
                <ng-container *ngSwitchCase="'end_date'">
                  {{ row[field.name] | date:'dd/MM/yyyy' }}
                </ng-container>
                <ng-container *ngSwitchDefault>{{ row[field.name] }}</ng-container>
              </ng-container>
            </span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions></div>
