@import '../../../../../../styles/color';

:host {
  .level {
    display: flex;
    margin-top: 20px;
    background: white;
    ::ng-deep .map-view {
      height: calc(100vh - 200px) !important;
    }
    &-sidebar {
      padding: 30px;
      height: calc(100vh - 200px);
      overflow-y: auto;
      background: #fafafb;
      margin-right: 20px;

      &-title {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 20px;
      }
      &-error {
        color: red;
        width: 300px;
      }
      .form-field {
        span {
          display: block;
          font-size: 17px;
          b.span-bold {
            color: #bcbcbc;
            font-size: 15px;
          }
        }
        .mat-form-field {
          width: 300px;
          &.place_LL {
            width: 150px;
          }
          &.units {
            width: 120px;
          }
        }

        textarea {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          color: #bcbcbc;
        }

        ::ng-deep .mat-form-field-infix {
          background: white;
          border: 1px solid rgba(0, 0, 0, 0.42);
          border-radius: 5px;
          padding: 8px 8px 8px 8px;
          color: #0073AE;
          font-size: 17px;
          .mat-select-arrow {
            color: #0073AE;
          }
          span {
            color: #0073AE;
          }
        }
        .border-right-0 {
          ::ng-deep .mat-form-field-infix {
            border-right: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            input {
              border-right: 1px solid rgba(0, 0, 0, 0.42);
            }
          }
        }

        .border-left-0 {
          ::ng-deep .mat-form-field-infix {
            border-left: 0 !important;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
          }
        }
        ::ng-deep .mat-form-field-invalid .mat-form-field-infix {
          border: 1px solid #f44336;
        }
        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
          height: 0 !important;
        }
        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-ripple {
          height: 0 !important;
        }
      }

      .parking-document-wrapper {
        margin-top: 20px;
        .form-field {
          width: 100%;
          ::ng-deep .ng2-file-input .ng2-file-input-drop-container {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .documents-wrapper {
          .document-item {
            display: flex;
            align-items: center;
            margin: 5px 0;
            span {
              cursor: pointer;
            }
            .mat-icon {
              font-size: 1.2rem;
              height: 1rem;
            }
            button {
              position: absolute;
              right: -5px;
              top: -5px;
            }
            a {
              color: $c-blue;
              text-decoration: underline !important;
              cursor: pointer;
            }
          }
        }
      }

      .buttons-wrapper {
        justify-content: flex-end;
        display: flex;
        button {
          min-width: 45%;
          margin: 20px 2%;
        }
        span {
          display: flex;
          font-size: 18px;
          color: darkgray;
        }
        span:hover {
          color: red;
          cursor: pointer;
        }
      }
    }

    &-map-wrapper {
      flex-grow: 1;
    }

    .notification-box {
      text-align: center;
      padding: 1rem;
      background-color: white;
      span {
        font-weight: bold;
        color: $mawgif-primary;
        font-size: 20px;
      }
      button {
        width: 100px;
      }
    }
  }
}
