@import "../../../../../styles/_color.scss";

:host {
  .schedule-new {
    &-header {
      h1 {
        height: 50px;
        line-height: 50px;
        font-size: 1.5rem;
      }
    }

    .schedule-new-content {
      margin: 10px 0;
      padding: 20px;

      span {
        width: 130px;
      }

      &-settings {
        display: flex;
        align-items: center;
      }

      &-applydate-wrapper {
        .mat-checkbox {
          margin-left: 50px;
        }
      }
    }
  }

  button {
      margin-left: 10px;
  }
}