@import "../../../../styles/_color.scss";

:host {
  .value-added-list-page {
    &-header {
      .mat-icon-button {
        outline: none;
      }

      p {
        margin: 0;
      }
    }

    &-content {
      padding: 0 1rem 0 1rem;
      margin-top: 50px;
      padding-top: 50px;

      &-title {
        height: 50px;
        line-height: 50px;
        font-size: 1.5rem;

        .selections-wrapper {
          display: flex;
        }
      }

      &-wrapper {
        display: flex;
        flex-wrap: wrap;

        .service-title {
          display: flex;
          justify-content: space-between;
        }

        .service-info {
          border: 1px solid $c-greylight;
          margin-right: 1rem;
          margin-bottom: 1rem;
          border-radius: 6px;
          width: 250px;
          height: 135px;
          cursor: pointer;

          &.bundle:hover {
            border: 1px solid #fdc069;

            .service-info-name {
              background-color: #fdc069;
              transition: 0.3s;
            }
          }

          &:hover {
            border: 1px solid teal;
            transition: 0.3s;

            .service-info-name {
              background-color: teal;
              transition: 0.3s;
            }
          }

          &-name {
            padding: 10px;
            min-width: 200px;
            border-top-left-radius: 4px;
            border-bottom-right-radius: 6px;
            background-color: $c-blue;
            color: $c-white;
            display: inline-block;
            font-weight: 700;

            &.bundle {
              background-color: #ec9517;
            }
          }

          &-item {
            padding: 2px 10px;
            display: flex;
            align-items: center;

            img {
              width: 80px;
              height: 80px;
            }

            .title {
              color: $c-blue1;
              text-align: right;
              margin-right: 10px;
            }

            .value {
              color: $c-blue1;
              font-size: 35px;
            }
          }
        }
      }
    }
  }

  .filter {
    padding: 0 20px 0 0;
  }

  .buttons-wrapper {
    button {
      color: $c-blue1;
      outline: none;
      background: transparent;

      .mat-icon {
        vertical-align: middle;
      }
    }
  }
}