:host {
  @media screen {
    .table-wrapper {
      margin-top: 1rem;
    }

    ::ng-deep .map {
      height: 450px !important;
    }

    ::ng-deep app-analytics-chart #mapid {
      position: relative !important;
      height: 350px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

@media print {
  .table-wrapper {
    margin-top: 1rem;
  }

  ::ng-deep body * {
    visibility:hidden;
  }

  ::ng-deep #printSection, ::ng-deep #printSection * {
    visibility: visible !important;
  }

  ::ng-deep #printSection {
    position:absolute;
    left:0;
    top:0;
  }

  ::ng-deep app-analytics-chart #mapid {
    position: relative !important;
    height: 450px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
