<div class="parking-meter">
  <ng-container *ngIf="isListViewOn">
      <app-listview-new
      [filter]="filter" 
      [projectId]="projectId"
      [options]="mapOptions"
      [mapdata]="mapdata"
      [mapdrawdata]="mapdrawdata"
      [listType]="'Parking meter'"
      [listData]="allAssets"
      (updateMapData)="onUpdateMapData($event)"
      (selectedRowItem)="onMapEditedEvent($event)"
      [ngClass]="{'width-calc': parkingMeter?.codification_id}"
      ></app-listview-new>
  </ng-container>
  <ng-container  *ngIf="!isListViewOn || parkingMeter?.codification_id">
    <div class="parking-meter-sidebar" [ngClass]="{'right-sidebar': isListViewOn}">
      <ng-container *ngIf="isListViewOn && parkingMeter?.codification_id">
        <app-mapview-new
          [mapCenter]="mapPositionCenter"
          [options]="mapOptions"
          [mapDataJSON]="mapdata"
          [mapDrawDataJSON]="mapdrawdata"
          [zoomValue]="14"
          (mapDataChangedEmitter)="onSiteMapDataChanged($event)"
          (mapDataEditEmitter)="onMapEditedEvent($event)"
        >
        </app-mapview-new>
        <div class="list-img-types">
          <div class="list-types-row row mt-1 mb-1">
            <div *ngFor="let imgUrl of parkingImages; let i = index"
                 class="img-item col-4" [class.img-item-selected]="selectedImg && selectedImg.i === i">
              <button mat-icon-button class="cancel-btn" (click)="zoomImage(-1)">
                <mat-icon>cancel</mat-icon>
              </button>
              <img class="list-thumbnail" [src]="imgUrl" (click)="zoomImage(i)" />
            </div>
          </div>
          <div class="list-emplified-img row" *ngIf="isImageZoomOn">
            <div class="col-12">
              <img class="list-image" [src]="selectedImg.url" />
            </div>
          </div>
        </div>
      </ng-container>
      <div class="parking-meter-sidebar-title">
        {{parkingMeter?.codification_id ? 'EDIT' : 'ADD'}} PARKING METER
      </div>
      <span *ngIf="assetsAvailableFiltered.length===0 && parcmeter_name" class="parking-meter-sidebar-error">There is no {{parcmeter_name}} available <br/> Please create a new {{parcmeter_name}} on Assets Section</span>
      <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      *ngIf="form"
      autocomplete="off"
      novalidate>
      <div class="form-field">
        <span>Name :</span>
        <mat-form-field>
          <mat-label class="text-dark">{{parkingMeter?.model_txt}}</mat-label>
          <mat-select formControlName="name" (selectionChange)="onChangeName($event.value)">
            <mat-option *ngFor="let item of assetsModelsFiltered" [value]="item"> {{item.name}} </mat-option>
          </mat-select>
          <mat-error>Name is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-field">
        <span class="image-label">Image :</span>
        <div class="signage-image-wrapper">
          <img *ngIf="imageUrl" [src]="imageUrl.startsWith('uploads') ? apiEndpoint + '/' + imageUrl : imageUrl">
        </div>
      </div>
      <div class="form-field">
        <span>Latitude & Longitude <b class="span-bold">(auto-fill by draw tool)</b></span>
        <mat-form-field class="place_LL border-right-0">
          <input matInput type="text" formControlName="latitude" readonly>
          <mat-error>Latitude is required</mat-error>
        </mat-form-field>
        <mat-form-field class="place_LL border-left-0">
          <input matInput type="text" formControlName="longitude" readonly>
          <mat-error>Longitude is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-field">
        <span>Codification ID :</span>
        <mat-form-field>
          <mat-label class="text-dark">{{parkingMeter?.codification_id}}</mat-label>
          <mat-select formControlName="codificationId" (selectionChange)="onChangeCodificationId($event.value)">
            <mat-option *ngFor="let assetAvailable of assetsAvailableFiltered" [value]="assetAvailable"> {{assetAvailable.codification_id}} </mat-option>
          </mat-select>
          <mat-error>Codification ID is required</mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="zones" class="form-field">
        <span>Zone :</span>
        <mat-form-field>
          <mat-label class="text-dark">{{parkingMeter?.zone_txt}}</mat-label>
          <mat-select formControlName="zone" (selectionChange)="onChangeZone($event.value)">
            <mat-option *ngFor="let zone of zones" [value]="zone"> {{zone.zone_name}} </mat-option>
          </mat-select>
          <mat-error>Zone is required</mat-error>
        </mat-form-field>
      </div>
      <div class="buttons-wrapper mt-4">
        <button mat-stroked-button type="button" class="mr-2 ml-2" (click)="onCancel()">CANCEL</button>
        <button class="add" mat-flat-button type="submit" color="primary">{{parkingMeter?.codification_id ? 'UPDATE' : 'CREATE'}}</button>
      </div>
      <div class="buttons-wrapper" *ngIf="parkingMeter?.codification_id">
        <span (click)="onDelete(parkingMeter)">DELETE  <mat-icon>delete</mat-icon></span>
      </div>
      </form>
    </div>
  </ng-container>
  <ng-container  *ngIf="!isListViewOn">
    <div class="parking-meter-map-wrapper">
  <!--    <app-map-cluster-view-->
  <!--      [mapCenter]="mapCenter"-->
  <!--      [options]="mapOptions"-->
  <!--      [clusterMapData]="mapdata"-->
  <!--      [mapDrawData]="mapdrawdata"-->
  <!--      (mapDataChangedEmitter)="onSiteMapDataChanged($event)"-->
  <!--      (mapDataEditEmitter)="onMapEditedEvent($event)"-->
  <!--    >-->
  <!--    </app-map-cluster-view>-->
      <app-mapview-new
        [mapCenter]="mapCenter"
        [options]="mapOptions"
        [mapDataJSON]="mapdata"
        [mapDrawDataJSON]="mapdrawdata"
        (mapDataChangedEmitter)="onSiteMapDataChanged($event)"
        (mapDataEditEmitter)="onMapEditedEvent($event)"
      >
      </app-mapview-new>
    </div> 
  </ng-container>
</div>
