<div class="credentials-overview">
  <header class="page-top-header">
    <div class="credential-header-buttons">
      <button mat-icon-button color="base" (click)="location.back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span> Admin > User Credentials</span>
    </div>
    <div class="today">
      <span>Local Date/Time: </span>{{ today | date:'dd/MM/yyyy hh:mm a' }}
    </div>
  </header>
  <div class="d-flex align-items-center search-bar">
    <mat-icon>search</mat-icon>
    <div class="">
      <mat-form-field class="employee-filter">
        <input
          matInput
          (keyup)="applyFilterEmployee($event.target.value)"
          placeholder="Search employee"
        />
      </mat-form-field>
    </div>
  </div>
  <main class="employee-list-page">
    <div class="employee-list-page-content container-fluid">
      <div class="employee-list-page-table-wrapper mat-elevation-z8">
        <ngx-datatable class="material bg-white"
            style="height: calc(100vh - 180px)"
            [columnMode] = "'force'"
            [headerHeight] = "50"
            [footerHeight] = "50"
            [rowHeight] = "70"
            [externalPaging] = "true"
            [externalSorting] = "true"
            [rows] = "employees"
            [count] = "page.totalElements"
            [offset] = "page.pageNumber"
            [limit] = "page.size"
            [sortType]="'single'"
            scrollbarV ="true"
            (activate) ="onSelect($event)">
          <ngx-datatable-column *ngFor="let field of tableFields" name="{{field.label}}" prop="{{field.name}}">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span [matTooltip]="row[field.name]" matTooltipShowDelay="1000" matTooltipHideDelay="1000">
                  <ng-container [ngSwitch]="field.name">
                    <ng-container *ngSwitchCase="'avatar'">
                      <img *ngIf="row.img_url" [src]="baseUrl + row.img_url" />
                      <img *ngIf="!row.img_url" src="assets/noavatar.png" />
                    </ng-container>
                    <ng-container *ngSwitchDefault>{{ row[field.name] }}</ng-container>
                  </ng-container>
                </span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </main>
</div>