:host {
  display: block;
  min-height: 300px;
}

::ng-deep .cdk-global-scrollblock {
  position: relative !important;
}

h4 {
  color: rgb(45, 64, 75);
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  width: 90px;
}

i.material-icons {
  cursor: pointer;
}

.add_widget {
  align-items: center;
  color: dodgerblue;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }

  span {
    vertical-align: 7px;
  }
}

.remove_widget:hover {
  cursor: pointer;
}

.widget-wrapper {
  overflow: hidden;
  min-width: 225px;
}

::ng-deep .popover {
  max-height: calc(100vh - 290px) !important;
  overflow-y: auto !important;
}