<div class="container-fluid container-detail">
  <div class="row">
    <div class="col-lg-2">
      <button mat-button class="button-upload altered">Upload</button>
    </div>
    <div class="col-lg-6 col-lg-offset-1">
      <div class="row">
        <label for="name" class="label-detail">Name:  </label>
        <input type="text" id="name" value="JED Parking Program" class="input-detail" disabled>
      </div>
      <div class="row">
        <label for="type" class="label-detail">Type:  </label>
        <input type="text" id="type" value="Municipality Program" class="input-detail" disabled>
      </div>
      <div class="row">
        <label for="contract_date" class="label-detail">Contract Date:  </label>
        <input type="text" id="contract_date" value="1/1/15" class="input-detail" disabled>
      </div>
    </div>
    <div class="col-lg-2 col-lg-offset-1">
      <button mat-button>Edit</button>
    </div>
  </div>
</div>
<div class="container-fluid container-empty">
  <div class="row"></div>
</div>
<div class="container-fluid container-activities">
  <div class="row">
    <h4>Activities</h4>
  </div>
</div>